*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(23, 23, 56);
    color: white;
    font-family: "Poppins", sans-serif;
}
nav{
    display:flex;
    justify-content:space-around;
    align-items: center;
    height: 80px;
    background-color: blueviolet;
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    
    margin: 0 25px;
}
.left{
    font-size: 1.5rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.leftSec{
    width: 50%;
    justify-content: center;
   padding-left: 60px;
    font-size: 3rem;


}
.img{
    width: 400px;
    height: auto;
    padding-top: 100px;
    padding-right: 100px;
}
.kl{
    padding-top: 200px;
    font-weight: 600;
}

#element{
    color: blueviolet;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
a:hover{
    color: aqua;
    font-size: 1.1rem;
}
.secondSection h1{
   
   text-align: center;
   color: aqua;
   font-size: 2rem;
   font-weight: 500;
}
hr{
    border: 0;
    background: rgb(31, 31, 185);
    height: 1.2px;
    margin: 40px 84px;
    
}
.grey{
    text-align: center;
    color: grey;
}
.vedio{
    width: 400px;
    height: 330px;
    border: 2px solid gold;
    border-radius: 10px;
    
}
.vd{
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
}
.mn{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    color: grey;
}
.thirdSection h1{
    text-align: center;
   color: aqua;
   font-size: 2rem;
   font-weight: 500;
   margin-bottom: 50px;

}
.sr{
    width: 110px;
    height: auto;
}
.kow{
    display:flex;
    justify-content: space-around;
    margin-bottom: 80px;
}
.pngtree{
    margin-top: 80px;
    width: 500px;
    height: auto;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 100px;
}
.fourthSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.give{
    font-size: 3rem;
}
#elemen{
    color: blueviolet;
    font-weight: 600;
}
footer{
    background-color: rgb(26, 65, 82);
   
}
.flex{
    display:flex;
    padding-top: 30px;
    margin: 23px 122px;
    justify-content:space-around;
    align-items: center;
}
footer .flex .f2 ul{
    list-style: none;
}
.class-center{
    text-align: center;
    margin-bottom: auto;
}
footer .flex .f2 ul li{
    margin-top: 10px;
    margin-bottom: 10px;
}
button{
    border: 4px solid gold;
    font-size: 1.8rem;
    background-color: rgb(27, 27, 49);
    border-radius: 10px;
    margin-left: 50px;
    padding: 5px;
    color: white;
    box-shadow: 2px 20x 10px yellow;


}
button:hover{
    box-shadow: 2px 20x 10px yellow;
}
.ghi{
    width: 60px;
    height: auto;
    border: 3px solid gold ;
    border-radius: 50%;
}
.left{
    display:flex;
    text-align: center;
}
